# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\luke.hawkins\Local Sites\twynham-lodge-5889\app\public\wp-content\themes\Freemason-Theme\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
